body {
	text-align: center;
	background-color: #ff3;
	margin: 0 auto;
	display: flex;
	h1 {
		font-size: 50px;
	}
	p {
		font-size: 30px;
	}
	.first-paragraph {
		color: #000;
	}
	.second-paragraph {
		color: #f00;
	}
	.third-paragraph {
		color: #00b;
	}
}
